body {
    text-align: center;
    background: rgb(155, 29, 29);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

 

  img{
    background: hsla(0, 0%, 79%, 0.288);
    width: 275px; 
    height: 325px;
  }
  table {
    border-collapse: collapse;
    border: 1px solid black;
  } 
  
  th,td {
    border: 1px solid black;
  }
  
  table.a {
    table-layout: auto;
    width: 180px;  
  }
